# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/lab01/nbproject/private/
/lab01/build/
/lab01/dist/
/RMI/nbproject/private/
/RMI/build/
/RMI/dist/
/rmi_hello/nbproject/private/
/rmi_hello/dist/
/rmi_hello/build/
/lab02/nbproject/private/
/lab02/build/
/lab02/dist/
/TestLab/nbproject/private/
/TestLab/build/
/TestLab/dist/
/lb_02/build/
/lb_02/nbproject/private/
/lab02_alt/nbproject/private/
/lab02_alt/build/
/lab02_alt/dist/
/lab03/nbproject/private/
/lab04/nbproject/private/
/lab03_alt/nbproject/private/
/lab03_alt/build/
/lab03/build/
/lab03/dist/
/lab03_beanTester/nbproject/private/
/lab03_BeanChecker/nbproject/private/
/lab03_BeanChecker/build/
/lab03_alt/dist/
/lab03_BeanChecker/dist/
/test_lab/nbproject/private/
/test_lab/build/
/test_lab/dist/
/WeatherEditor/nbproject/private/
/WeatherEditor/build/
/WeatherEditor/dist/
/lab04/build/
/lab_test/nbproject/private/
/lab_test/build/
/lab06/nbproject/private/
/lab06/build/